@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');
@keyframes first {
  0%, 80% {
    opacity: 1;
    transform: translateY(0%);
    visibility: visible;
  }
  99% {
    opacity: 1;
    transform: translateY(-150%);
    visibility: visible;
  }
  100% {
    opacity: 0;
    transform: translateY(-150%);
    visibility: hidden;
  }
}
@keyframes rotate {
  to {
    transform: rotate(1turn)
  }
}
@keyframes fviewBox {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: scale(1.2);
  }
  10% {
    opacity: 1;
    visibility: visible;
  }
  50% {
    opacity: 1;
    visibility: visible;
  }
  60% {
    transform: scale(1);
    opacity: 0;
    visibility: hidden
  }
  100% {
    opacity: 0;
    visibility: hidden;
    transform: scale(1.2);
  }
}
@keyframes hover01 {
  50% {
    color: var(--custom07);
  }
}
@keyframes hover02 {
  50% {
    color: var(--custom01);
  }
}
@keyframes hover-in {
  0% {
    transform-origin: left top;
    transform: scale(0, 1);
  }
  100% {
    transform-origin: left top;
    transform: scale(1, 1);
  }
}
@keyframes hover-out {
  0% {
    transform-origin: right top;
    transform: scale(1, 1);
  }
  100% {
    transform-origin: right top;
    transform: scale(0, 1);
  }
}
@keyframes fade-in-top {
  from {
    opacity: 0;
    padding-top: 0;
  }
  to {
    opacity: 1;
    padding-top: 9em;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(-30%)
  }
  to {
    opacity: 1;
    transform: translateX(0)
  }
}
:root {
  --custom01: rgba(255, 255, 255, 1);
  --custom02: rgba(255, 255, 255, 0.9);
  --custom03: rgba(255, 255, 255, 0.6);
  --custom04: rgba(255, 255, 255, 0.2);
  --custom05: #777;
  --custom06: rgba(30, 36, 55, 0.7);
  --custom07: rgba(30, 36, 55, 0.9);
  --custom08: rgba(30, 36, 55, 1);
  --custom20: 0.3rem;
}
body {
  user-select: none;
  font-size: 0.8vw;
  color: var(--custom05);
  line-height: 260%;
  margin: 0;
  height: 100%;
  padding: 0;
  position: relative;
  scroll-behavior: smooth;
  text-align: center;
  background-color: var(--custom08);
}
body * {
  font-family: 'Noto Sans JP', sans-serif;
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}
header nav {
  display: flex;
}
label {
  cursor: pointer;
  display: inline-block;
  background-position: center;
  background-size: cover
}
img {
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
}
a {
  clear: both;
  color: var(--custom01);
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  /*! width: 99%; */
}
.first {
  background: var(--custom08);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  animation: first 5s forwards;
  visibility: hidden;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.loading {
  width: 9em;
  height: 9em;
  border: 1em solid var(--custom01);
  border-left-color: var(--custom03);
  border-top-color: var(--custom04);
  border-radius: 50%;
  animation: rotate 600ms infinite linear;
}
#company iframe {
  width: 45%;
  height: 30em;
  border: none;
  margin: 1em;
}
section:before {
  content: "";
  left: 0;
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.3;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}
.btn {
  border: 0.1em solid var(--custom01);
  clear: both;
  color: var(--custom01);
  cursor: pointer;
  display: inline-block;
  font-size: 90%;
  margin: 0 1vw;
  padding: 1em 1.5em 1em 3em;
  text-transform: uppercase;
  transition: 0.3s all;
  position: relative;
  z-index: 3;
  overflow: hidden;
  letter-spacing: 0.1em;
}
.btn:after {
  position: absolute;
  top: calc(50% - 0.3em);
  left: 1.4em;
  display: inline-block;
  width: 0.6em;
  height: 0.6em;
  margin-left: -0.2em;
  content: '';
  transform: rotate(45deg);
  border-top: 0.1em solid var(--custom01);
  border-right: 0.1em solid var(--custom01);
}
header {
  background: var(--custom02);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 444;
  transition: all 1s;
}
header a {
  color: var(--custom07);
}
header img, footer img {
  width: 10em;
}
header > nav a {
  display: inline-block;
  padding: 2em 4em;
  position: relative;
  transition: 1s all;
}
footer {
  color: var(--custom01);
  padding: 3em 0;
  position: relative;
  width: 100%;
  background: var(--custom07);
}
section footer {
  margin-top: 14em;
}
h1 {
  font-size: 200%;
  margin: 0 0 3em 0;
  color: var(--custom01);
  width: 100%;
  display: block;
  letter-spacing: 0.1em;
}
#index h1 {
  margin: 6em 0 2em 0;
  color: var(--custom07);
}
#isms h1, #contact h1 {
  margin: 3em 0;
}
main .serviceList {
  position: relative;
  width: 100%;
  background: var(--custom08);
  padding: 4em 0;
}
main .serviceList .btn {
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  right: 0;
}
main .serviceList dt {
  font-size: 180%;
  font-weight: bold;
  position: relative;
  padding: 20vh 0 0 0;
}
h1:after {
  content: "";
  position: relative;
  top: 0.6em;
  border-bottom: 0.1em solid;
  display: block;
  width: 4%;
  left: 48%;
}
main .serviceList dl {
  transition: 0.3s;
  display: inline-block;
  width: 20vw;
  margin: 1em;
  vertical-align: top;
  background-position: center;
  background-size: cover;
  color: var(--custom01);
  overflow: hidden;
  position: relative;
}
main .serviceList span {
  /*! display: none; */
  padding: 3em;
  line-height: 200%;
  text-align: left;
  font-size: 90%;
  /*! width: 22em; */
  opacity: 0;
  display: flex;
}
main .serviceList dd {
  height: 22em;
  position: relative;
}
main .serviceList dl:before {
  opacity: 0.6;
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
  position: absolute;
  background-position: center top;
  background-size: cover;
}
main .fviewBox {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
main .fviewBox01 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(img/fviewBox01.png);
  background-position: center;
  background-size: cover;
  animation: fviewBox 10s 0s infinite;
}
main .fviewBox02 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(img/fviewBox02.png);
  background-position: center;
  background-size: cover;
  animation: fviewBox 10s 5s infinite;
  opacity: 0;
}
.container003 {
  text-align: left;
  width: 40em;
  line-height: 200%;
  max-width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container003 dt {
  margin: 3em 1%;
  color: var(--custom07);
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 30%;
}
.container003 dd {
  margin: 3em 1%;
  display: inline-block;
  width: 60%;
}
section .itemList02 {
  text-align: left;
  width: 60em;
}
section .itemList02 dt {
  display: inline-block;
  text-align: center;
  width: 16em;
}
section .itemList02 dd {
  display: inline-block;
  margin-left: 1em;
  padding: 1em;
}
.isms-list {
  list-style: num;
  text-align: left;
  width: 60em;
  max-width: 80%;
}
.isms-list li {
  padding: 1em;
}
.container002 dl {
  width: 20%;
  vertical-align: top;
  margin: 2% 1%;
  box-sizing: border-box;
  text-align: left;
  display: inline-block;
}
.container002 dt {
  padding: 1.3rem;
  background: var(--custom07);
  color: var(--custom01);
  line-height: 200%;
}
.container002 dd {
  font-size: 90%;
  padding: 1.3rem;
  line-height: 200%;
  background: var(--custom01);
  border: 0.2em solid var(--custom04);
}
section h2 {
  padding: 2em 0;
  color: var(--custom07);
  width: 90%;
}
nav .btn {
  border: 0.1em solid transparent;
  padding: 0.6em 1.5em 0.6em 3em;
}
.panel__content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
  background: inherit;
}
.panel:before, .panel__content:before {
  content: ' ';
  display: block;
  width: 100%;
  height: 100%;
}
.panel:before {
  position: relative;
  z-index: 99;
  opacity: 0;
  transition: opacity 0.3s linear;
  box-sizing: border-box;
}
.panel:hover:before, .panel:focus:before {
  opacity: 0.9;
}
.panels {
  overflow: hidden;
  display: flex;
  position: relative;
  z-index: 1;
  height: 40em;
  width: 100%;
  font-size: 1vw;
}
.panel {
  --percent: calc(((var(--i) - 1) / var(--items)) * 100);
  height: 100%;
  background-color: var(--custom07);
  flex: 1;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  box-sizing: border-box;
}
.panel:nth-last-child(n + 1), .panel:nth-last-child(n + 1) ~ .panel {
  --items: 1;
}
.panel:nth-child(1) {
  --i: 1;
}
.panel:nth-last-child(n + 2), .panel:nth-last-child(n + 2) ~ .panel {
  --items: 2;
}
.panel:nth-child(2) {
  --i: 2;
}
.panel:nth-last-child(n + 3), .panel:nth-last-child(n + 3) ~ .panel {
  --items: 3;
}
.panel:nth-child(3) {
  --i: 3;
}
.panel:nth-last-child(n + 4), .panel:nth-last-child(n + 4) ~ .panel {
  --items: 4;
}
.panel:nth-child(4) {
  --i: 4;
}
.panel:nth-last-child(n + 5), .panel:nth-last-child(n + 5) ~ .panel {
  --items: 5;
}
.panel:nth-child(5) {
  --i: 5;
}
.panel:nth-last-child(n + 6), .panel:nth-last-child(n + 6) ~ .panel {
  --items: 6;
}
.panel:nth-child(6) {
  --i: 6;
}
.panel:nth-last-child(n + 7), .panel:nth-last-child(n + 7) ~ .panel {
  --items: 7;
}
.panel:nth-child(7) {
  --i: 7;
}
.panel__content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: auto;
  transform: translateX(calc(var(--percent) * 1%));
}
.panel__content:before {
  background: inherit;
  transform: translateX(-50%) translateX(calc(100% / var(--items) * 0.5));
}
.panel__content, .panel__content:before {
  transition: all 0.4s;
}
.panels:hover .panel__content {
  z-index: auto;
  transform: translateX(0%);
}
.panel:hover ~ .panel .panel__content {
  transform: translateX(100%);
}
.panel:hover .panel__content, .panel:focus .panel__content {
  transform: translateX(0%);
}
.panel:hover .panel__content:before, .panel:focus .panel__content:before {
  transform: translateX(0%) scale(1);
}
.container004 > dl > dt {
  /*! font-weight: bold; */
  position: relative;
  font-size: 130%;
  padding: 4%;
  /*! color: var(--custom08); */
  background: var(--custom08);
  color: var(--custom01);
  /*! color: var(--custom08); */
}
.container004 > dl {
  background: var(--custom01);
  margin: 2em 0;
  width: 60%;
  display: inline-block;
  vertical-align: top;
  /*! border-radius: var(--custom20); */
  /*! overflow: hidden; */
  /*! color: var(--custom08); */
}
.container005 {
  background: var(--custom06);
  color: var(--custom01);
  padding: 4em 0;
  width: 100%;
}
.container006 {
  background: var(--custom02);
  padding: 6em 0;
  width: 100%;
  display: block;
  flex-wrap: wrap;
  justify-content: center;
}
.container005 > p, .container006 > p {
  width: 70em;
  text-align: left;
  max-width: 90%;
  margin: 1em auto;
}
.container005 h2 {
  text-align: center;
  margin: 4em 0 1em;
}
.container004 > dl > dd {
  text-align: left;
  padding: 4%;
  font-size: 90%;
}
.container001 {
  width: 25em;
}
.container001 dt {
  padding: 1em;
  display: inline-block;
  color: var(--custom07);
}
.container001 > dd {
  width: 19em;
  display: inline-block;
  padding: 0;
}
.panel:nth-child(7) {
  background-image: url("img/gallery07.png");
}
.panel:nth-child(6) {
  background-image: url("img/gallery06.png");
}
.panel:nth-child(5) {
  background-image: url("img/gallery05.png");
}
.panel:nth-child(4) {
  background-image: url("img/gallery04.png");
}
.panel:nth-child(3) {
  background-image: url("img/gallery03.png");
}
.panel:nth-child(2) {
  background-image: url("img/gallery02.png");
}
.panel:nth-child(1) {
  background-image: url("img/gallery01.png");
}
#isms:before {
  background-image: url("img/10.png");
}
#contact:before {
  background-image: url("img/09.png");
}
#company:before {
  background-image: url("img/13.png");
}
#system:before, .serviceList01:before {
  background-image: url("img/02.png");
}
#game:before, .serviceList02:before {
  background-image: url("img/08.png");
}
#web:before, .serviceList03:before {
  background-image: url("img/06.png");
}
#illustration:before, .serviceList04:before {
  background-image: url("img/gallery01.png");
}
.Form-Item {
  margin-bottom: 2%;
  width: 90%;
  max-width: 50em;
}
.Form-Item p {
  width: 90%;
  color: var(--custom07);
  text-align: left;
  padding: 2%;
}
.Form-Item span {
  border: none;
  border-radius: var(--custom20);
  margin-right: 1em;
  padding: 0.9em;
  background: var(--custom07);
  color: var(--custom01);
  font-size: 70%;
}
.Form-Item textarea, .Form-Item input {
  border: none;
  width: 90%;
  font-size: 100%;
  color: var(--custom07);
  border-radius: var(--custom20);
  padding: 2%;
}
.Form-Item textarea {
  height: 16em;
}
.Form-Btn {
  border: 0.2em solid transparent;
  padding: 1em 3em;
  font-size: 110%;
  cursor: pointer;
  background: var(--custom07);
  color: var(--custom01);
  transition: 0.3s all;
  border-radius: var(--custom20);
}
.Form-Btn:hover {
  border: 0.2em solid var(--custom07);
  background: var(--custom01);
  color: var(--custom07);
}
header .x, header .hamburger, .slide, .contents01, .contents02, .contents03, .contents04, .contents05, body > section, body > section:target ~ #index {
  display: none;
}
main, section:target, .slide01:checked ~ .contents01, .slide02:checked ~ .contents02, .slide03:checked ~ .contents03, .slide04:checked ~ .contents04, .slide05:checked ~ .contents05 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  animation: fade-in-top 2s forwards;
}
main {
  animation: none;
  background: var(--custom01);
}
nav .btn:hover, .slide01:checked ~ nav label:nth-child(1), .slide02:checked ~ nav label:nth-child(2), .slide03:checked ~ nav label:nth-child(3), .slide04:checked ~ nav label:nth-child(4) {
  border: 0.1em solid var(--custom01);
}
#system:target ~ header .nav02, #game:target ~ header .nav03, #web:target ~ header .nav04, #illustration:target ~ header .nav05, #company:target ~ header .nav06, #contact:target ~ header .nav07 {
  color: var(--custom01);
  background-color: var(--custom07);
}
@media (orientation: landscape) {
  main .serviceList dl:hover::before {
    opacity: 0.3;
  }
  main .serviceList dl:hover span {
    animation: fade-in 1s 0.5s forwards;
  }
  header > nav a:hover {
    animation: hover02 .6s forwards;
  }
  .btn:hover {
    animation: hover01 .6s forwards;
  }
  nav .btn:hover {
    animation: none
  }
  header a:hover:hover::before {
    animation: hover-in .3s forwards alternate, hover-out .3s .3s forwards alternate;
  }
  .btn:hover:hover::before {
    animation: hover-in .3s forwards alternate, hover-out .3s .3s forwards alternate;
  }
  nav .btn:hover:hover::before {
    animation: none
  }
  .btn::before, header > nav a::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    content: '';
    background: var(--custom01);
    transform: scale(0, 1);
  }
  header > nav a::before {
    background: var(--custom07);
  }
  main .serviceList dl:hover {
    width: 33em;
  }
}
@media (orientation: portrait) {
  body {
    font-size: 2.9vw;
  }
  header {
    background: var(--custom07);
    display: flex;
    justify-content: right;
  }
  main .fviewBox01 {
    background-image: url(img/fviewBox01_sp.png);
  }
  main .fviewBox02 {
    background-image: url(img/fviewBox02_sp.png);
  }
  main .serviceList dl {
    width: 99%;
    margin: 4em auto 2em auto;
  }
  main .serviceList dd {
    height: 19em;
  }
  header .hamburger {
    width: 2rem;
    height: 1.4rem;
    position: relative;
    display: flex;
    margin: 5%;
  }
  header .x {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 1em;
  }
  .hamburger-inner {
    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--custom01);
    display: inline-block;
    top: 50%;
    position: absolute;
    left: 0;
  }
  .hamburger:before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--custom01);
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
  }
  .hamburger:after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--custom01);
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  header .x:before, header .x:after {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    background-color: var(--custom07);
    transform: rotate(45deg);
  }
  header .x:after {
    transform: rotate(-45deg);
  }
  header > nav a {
    width: 100%;
    color: var(--custom01);
  }
  #navigation:target {
    position: relative;
  }
  #navigation:target nav {
    display: flex;
    flex-wrap: wrap;
    animation: fade-in 1s forwards;
  }
  #navigation:target .hamburger, #navigation:target ~ footer, #navigation:target ~ #index, header nav {
    display: none;
  }
  .panels {
    height: 120em;
  }
  .panel {
    background-size: cover;
  }
  #company iframe {
    margin: 3em auto;
    width: 90%;
    display: block;
    height: 22em;
  }
  h1:after {
    width: 10%;
    left: 45%;
  }
  main .serviceList span {
    opacity: 1;
  }
  main .serviceList dt {
    padding: 2em 0 0 0;
  }
  .container002 dl {
    width: 90%;
    margin: 1em auto;
  }
  .container004 > dl {
    display: block;
    margin: 2em auto;
    width: 90%;
  }
  main .serviceList dl:before {
    opacity: 0.5
  }
  main .serviceList a {
    width: 100%;
  }
}